@import "tailwindcss";

@theme {
  --color-brawn-60: #AE9B84;
  --color-dark-06: #0F0F0F;
  --color-dark-15: #262626;
  --color-dark-10: #1A1A1A;
  --color-grey-70: #B3B3B2;
  --color-grey-40: #676665;
}

body {
  background-color: #0F0F0F;
}
